body{
    background: #F3F3F3;
}
/* .ui.primary.inverted.segment,.ui.inverted.segment {
   
  background: url('/images/hands.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
} */
.certsSeg{
  /* border: 1px solid black !important; */
  margin:1% 5%  !important;
  /* margin:1% 15%  !important; */
  box-shadow: 2px 2px 2px rgba(197, 197, 197, 0.842) !important;
  padding: 1% !important;
  border-radius: 5px !important;

  background: white !important;
  /* width: 70% !important; */
}
.blogCon{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.tableOfScore{
  margin: 2% !important;
  padding: 2% !important;
  background: white
}